<%= form_for [:admin, resource] do |f| %>

  <div data-hook="admin_social_methods_form_fields">
    <div class="row">
      <div class="col-6">
        <div data-hook="environment" class="form-group">
          <%= label_tag nil, Spree::AuthenticationMethod.human_attribute_name(:environment) %>
          <%= collection_select :authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}, class: 'select2' %>
        </div>
      </div>
      <div class="col-6">
        <div data-hook="environment" class="form-group">
          <%= f.label :provider, I18n.t('spree.social_provider') %>
          <%= f.select :provider, Spree::AuthenticationMethod.provider_options, {}, { include_blank: false, class: 'select2' } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div data-hook="environment" class="form-group">
          <%= f.label :active, class: 'radio-inline' do %>
            <%= f.radio_button :active, :true %>
            <%= I18n.t('spree.active') %>
          <% end %>
          <%= f.label :active, class: 'radio-inline' do %>
            <%= f.radio_button :active, :false %>
            <%= I18n.t('spree.inactive') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render "spree/admin/shared/#{resource.new_record? ? 'new' : 'edit'}_resource_links" %>
<% end %>