<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t('spree.edit_social_method') %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', I18n.t('spree.back_to_authentication_methods_list'), admin_authentication_methods_path, class: 'button' %></li>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @authentication_method } %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_authentication_methods_list), spree.admin_authentication_methods_path, icon: 'arrow-left', class: 'btn-primary' %>
<% end %>

<%= form_for [:admin, @authentication_method] do |f| %>
  <fieldset class="no-border-top">
    <%= render 'form', f: f %>
    <%= render 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>